.intakeHub__layout{
    grid-template-areas: 
    "noticeBar noticeBar noticeBar noticeBar noticeBar noticeBar noticeBar noticeBar noticeBar noticeBar noticeBar noticeBar noticeBar noticeBar noticeBar noticeBar"
    "leftSide leftSide leftSide mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent "
    "leftSide leftSide leftSide mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent "
    "leftSide leftSide leftSide mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent "
    "leftSide leftSide leftSide mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent "
    "leftSide leftSide leftSide mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent "
    "leftSide leftSide leftSide mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent "
    "leftSide leftSide leftSide mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent "
    "leftSide leftSide leftSide mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent "
    "leftSide leftSide leftSide mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent "
    "leftSide leftSide leftSide mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent "
    "leftSide leftSide leftSide mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent "
    "leftSide leftSide leftSide mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent "
    "leftSide leftSide leftSide mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent "
    "leftSide leftSide leftSide mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent "
    "leftSide leftSide leftSide mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent "
}
.noticeBar__container{
    grid-area: noticeBar;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fbbd04;
    color: #424d57;
}
.navigation__left{
    grid-area: leftSide;
    width: 100%;
    height: 100%;
    display: grid;
    background-color: #f3f7f9;
    color: #424d57;
    border-right: 1px solid rgba(0,0,0,0.1);
    .navigation__left__title{
        grid-area: 1/1/2/17;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0rem 1rem;
        letter-spacing: 1px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    .navigation__left__content{
        grid-area: 2/1/17/17;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        .navigation__left__content-list{
            width: 100%;
            height: auto;
            padding: 1.5rem 1.5rem 10px;
        }
        .navigation__left__content-list-header{
            width: 100%;
            padding: 1.5rem 0.5rem 0.5rem;
            text-transform: uppercase;
            color: rgba(0,0,0,0.4);
        }
        .navigation__left__content-list-header-selected{
            color: #4384f5;
            font-weight: 600;
        }
        .navigation__left__content-list-item{
            width: 100%;
            padding: 0.75rem 0.5rem;
            cursor: pointer;
            &:hover{
                color: #4384f5;
            }
        }
        .navigation__left__content-list-item--selected{
            color: #4384f5;
            padding: 0.75rem 0.5rem;
            width: 100%;
            font-weight: 600;
        }
        .navigation__left__chipped{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}
.mainContent__Intake__layout{
    width: 100%;
    height: 100%;
    display: grid;
    grid-area: mainContent;
    .mainContent__container{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        grid-area: 2/5/15/14;
        p3{
            margin: 1rem 0rem .25rem
        }
        div{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        .FormControlLabel{
            display: flex;
            margin: 1rem 0rem 0.25rem;
        }
    }
}
.table__font__css{
    color: rgba(0,0,0,0.5);
    font-size: 0.5rem !important;
    
}
.total__table__row{
    border-right: 1px solid rgba(0,0,0,0.1) ;
    border-left: 1px solid rgba(0,0,0,0.1) ;
    &:hover{
        background-color: rgba(0,0,0,0.1);
    }
}
.total__Table__cell{
    text-transform: capitalize;
    font-family: 'Source Sans Pro' !important;
    font-size: medium !important;
}
.upload--content{
    width: 100%;
    min-height: 10rem;
    background-color: #f3f7f9;
    margin: 1rem 0rem;
    border-radius: 10px;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 200px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid #000;
}
.modal-instructions{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 800px;
    height: 700px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid #000;
}