* {
    font-family: 'Source Sans Pro';
}

h1{
    margin: 0;
    font-size: 1.75rem;
}
h2{
    margin: 0;
    font-size: 1.5rem;
}
h3{
    margin: 0;
    font-size: 1.25rem;
}
h4{
    margin: 0;
    font-size: 1rem;
}
h5{
    margin: 0;
    font-size: 0.75rem;
}
h6{
    margin: 0;
    font-size: 0.5rem;
}
p1{
    font-size:1rem;
}
p2{
    font-size:0.95rem;
}
p3{
    font-size:0.9rem;
}
p4{
    font-size:0.8rem;
}
p5{
    font-size:0.7rem;
}
p6{
    font-size:0.5rem;
}