.MuiTextField-root{
    background-color: white;
    
}
.MuiOutlinedInput-input{
    &::placeholder{
    color: rgba(0,0,0,0.6) !important;
    opacity: 1 !important;
    }
}
.MuiOutlinedInput-root{
    font-size: 0.9rem !important;
    font-family: 'Source Sans Pro' !important;
}
.sidebar__left_search__input{
    width: 90%;
    
}
.input__narrow{
    width: 49% !important;
}
.input__narrower{
    width: 30% !important;
}
.MuiSelect-select{
    background-color: white !important;

}
.MuiButtonBase-root	{
    font-size: 0.9rem !important;
    font-family: 'Source Sans Pro' !important;
}
.MuiInputLabel-root{
    font-size: 0.9rem !important;
    color: rgba(0,0,0,0.6) !important;
    font-family: 'Source Sans Pro' !important;
}
.MuiFormControlLabel-label{
    font-size: 0.9rem !important;
    font-family: 'Source Sans Pro' !important;	
}
.MuiTableCell-root{
    padding: 1rem !important;
}
.MuiTableCell-head{
    font-size: 0.7rem !important;
    text-transform: uppercase !important;
    padding: 0rem 0.5rem !important;
}
.MuiTableRow-head{
    box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
}