.MuiTextField-root{
    background-color: white;
}
.MuiOutlinedInput-root{
    font-size: 0.9rem !important;
    font-family: 'Source Sans Pro' !important;
}
.sidebar__left_search__input{
    width: 90%;
    
}
.input__narrow{
    width: 49% !important;
}
.input__narrower{
    width: 30% !important;
}
.MuiSelect-select{
    background-color: white !important;

}
.MuiButtonBase-root	{
    font-size: 0.9rem !important;
    font-family: 'Source Sans Pro' !important;
}